pytest==6.2.3
pytest-cov==2.11.1
numpy>=1.19
scikit-learn==0.24.1
scipy>=1.5.4
pandas==1.2.4
networkx<2
bidict==0.21.2
matplotlib==3.4.1
lxml==4.6.3
pydot==1.4.2
spacy[lookups]==3.0.6
joblib==1.0.1
pre-commit==1.17.0
