pytest==3.8.2
pytest-cov==2.6.0
numpy==1.10.2
scikit-learn==0.15.2
scipy==0.14.0
pandas==0.18.1
networkx==1.9
bidict==0.1.5
matplotlib==1.5.1
lxml==4.6.2
pydot==1.0.29
spacy==1.6.0
joblib==0.10.2
future==0.17.1
pre-commit==1.17.0
